certifi==2022.12.7
chardet==3.0.4
click==7.1.2
dataclasses==0.6
fasttext==0.9.2
filelock==3.0.12
future==0.18.2
gensim==3.8.3
idna==2.10
joblib==1.2.0
lxml==4.9.1
numpy==1.22.0
packaging==20.4
pandas==1.1.4
protobuf==3.18.3
pybind11==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
regex==2020.11.13
requests==2.25.0
sacremoses==0.0.43
scipy==1.5.4
sentencepiece==0.1.91
six==1.15.0
smart-open==3.0.0
tokenizers==0.9.3
torch==1.7.0
tqdm==4.51.0
transformers==4.30.0
typing-extensions==3.7.4.3
urllib3==1.26.5
